PORT=6000
FRONTEND_ORIGIN=http://localhost:6001
MONGODB_HOST=localhost
MONGODB_PORT=27018
MONGODB_DATABASE=jagoo-bahee
REDIS_URL=redis://127.0.0.1:6380
MCAPTCHA_URL=http://localhost:7000
MCAPTCHA_SITEKEY=your-mcaptcha-sitekey
MCAPTCHA_SECRET=your-mcaptcha-secret
