global
  log stdout format raw local0
  maxconn 4096

defaults
  mode http
  log global
  option httplog
  option forwardfor
  timeout connect 5s
  timeout client 30s
  timeout server 30s

resolvers docker
  nameserver dns 127.0.0.11:53
  accepted_payload_size 8192
  hold valid 10s

frontend jagoo_backend_http
  bind *:8080
  default_backend jagoo_backend_pool

backend jagoo_backend_pool
  balance leastconn
  option httpchk GET /health/ready
  http-check expect status 200
  server-template backend 10 backend:6000 check resolvers docker init-addr none
